<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Blog | 邱张华</title>
  <link rel="icon" type="image/png" href="/images/q-96.png">
  <link rel="stylesheet" href="/css/site.css">
  <link rel="stylesheet" href="/css/prism-okaidia.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto&display=fallback" rel="stylesheet">
</head>
<body>
<header>
  <a href="/" class="link--home">博客</a>
  <a href="/about" class="link--about">邱张华</a>
</header>
<main>
  {{ content | safe }}
</main>
<footer>&copy; qiuzhanghua.github.io 2022</footer>
</body>
</html>